@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-rgb: 240, 240, 240;
  --accent-color-rgb: 52, 112, 224;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border-rgb: 10, 10, 10;
    --accent-color-rgb: 255, 133, 34;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  margin-top: 1em;
  padding: 1em;
  padding-left: 7%;
  padding-right: 7%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 1em;
  padding-left: 10%;
  padding-right: 10%;

  @apply border-b-2 border-neutral-100 dark:border-neutral-900;
}

footer {
  position: sticky;
  top: 100vh;
}

.header__logo {
  margin-right: auto;
  font-size: x-large;
}

/* ---- 見出し ---- */

h1,
h2,
h3,
h4 {
  margin: 0.1rem 0;
  @apply font-black;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding-left: 20px;
}

h3 {
  font-size: 1.2rem;
  padding-left: 40px;
}

h4 {
  font-size: 1rem;
  font-style: italic;
  padding-left: 60px;
}

main>h1 {
  @apply text-center border-b-2 border-slate-100 dark:border-slate-900;
}
 
.header__menu__item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}


.card {
  width: 244px;
  height: auto;
  margin: 1em;
}
.card__imgframe {
  width: 100%;
  height: auto;
  padding-top: 70.25%;
  background: url("/images/404.png") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.card__textbox {
  width: 100%;
  height: auto;
  padding: 20px 18px;
  box-sizing: border-box;

  @apply  bg-neutral-100 dark:bg-neutral-900;
}
.card__textbox > * + * {
  margin-top: 10px;
}
.card__titletext {
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext {
  font-size: 12px;
  line-height: 150%;
}


.card-window{
  width: 300px;
  height: 200px;
  border-radius: 5px;
  z-index: 0;
}
.card-window__titlebar{
  width: 100%;
  height: 20px;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
}
.buttons{
  width: 55px;
  height: 20px;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.buttons div{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  background: rgb(203, 213, 225);
  border: 1px solid rgba(148, 163, 184, 0.4);
}
.dark .buttons div{
  border: 1px solid rgba(51, 65, 85, 0.4);
  background: rgb(71 85 105);
}

.profile-icon {
  @apply rounded-full border-2 border-slate-100 dark:border-slate-900;
}

.nav-social {
  @apply flex justify-center;
}
.nav-social li {
  @apply ml-1 mr-1;
}